@import "~@openedx/paragon/styles/scss/core/core.scss";

@import "./variables";

@each $color, $value in $theme-colors-dark {
  .btn-#{$color} {
    @include button-variant('#{$color}');
  }

  .btn-outline-#{$color} {
    @include button-variant('outline-#{$color}');
  }

  .btn-inverse-#{$color} {
    @include button-variant('inverse-#{$color}');
  }

  .btn-inverse-outline-#{$color} {
    @include button-variant('inverse-outline-#{$color}');
  }
}

.btn-link {
    color: var(--pgn-color-link-base);
  
    @include hover {
      color: var(--pgn-color-link-hover);
    }
}

.btn-icon{
    @each $name, $color in $theme-colors-dark {
        &.btn-icon-#{$name} {
            --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-#{$name}-hover);
            --btn-icon-hover-color: var(--pgn-color-icon-button-text-#{$name}-hover);
            --btn-icon-bg-color: var(--pgn-color-icon-button-bg-#{$name}-base);
            --btn-icon-color: var(--pgn-color-icon-button-text-#{$name}-base);
            --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-#{$name}-focus);
            --btn-icon-focus-color: var(--pgn-color-icon-button-text-#{$name}-focus);
            --btn-icon-box-shadow: var(--pgn-elevation-icon-button-box-shadow-#{$name}-base);
        }
    
        &.btn-icon-inverse-#{$name} {
            --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-#{$name}-inverse-hover);
            --btn-icon-hover-color: var(--pgn-color-icon-button-text-#{$name}-inverse-hover);
            --btn-icon-bg-color: var(--pgn-color-icon-button-bg-#{$name}-inverse-base);
            --btn-icon-color: var(--pgn-color-icon-button-text-#{$name}-inverse-base);
            --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-#{$name}-inverse-focus);
            --btn-icon-focus-color: var(--pgn-color-icon-button-text-#{$name}-inverse-focus);
            --btn-icon-box-shadow: var(--pgn-elevation-icon-button-box-shadow-#{$name}-inverse);
        }
    
        &.btn-icon-#{$name}-active {
            --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-#{$name}-active-hover);
            --btn-icon-hover-color: var(--pgn-color-icon-button-text-#{$name}-active-hover);
            --btn-icon-bg-color: var(--pgn-color-icon-button-bg-#{$name}-active-base);
            --btn-icon-color: var(--pgn-color-icon-button-text-#{$name}-active-base);
            --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-#{$name}-active-focus);
            --btn-icon-focus-color: var(--pgn-color-icon-button-text-#{$name}-active-focus);
            --btn-icon-box-shadow: var(--pgn-elevation-icon-button-box-shadow-#{$name}-active);
        }
    
        &.btn-icon-inverse-#{$name}-active {
            --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-#{$name}-inverse-active-hover);
            --btn-icon-hover-color: var(--pgn-color-icon-button-text-#{$name}-inverse-active-hover);
            --btn-icon-bg-color: var(--pgn-color-icon-button-bg-#{$name}-inverse-active-base);
            --btn-icon-color: var(--pgn-color-icon-button-text-#{$name}-inverse-active-base);
            --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-#{$name}-inverse-active-focus);
            --btn-icon-focus-color: var(--pgn-color-icon-button-text-#{$name}-inverse-active-focus);
            --btn-icon-box-shadow: var(--pgn-elevation-icon-button-box-shadow-#{$name}-inverse-active);
        }
    }
}

.alert-success {
  color: inherit;
  background-color: var(--pgn-color-alert-bg-success);
  border-color: var(--pgn-color-alert-border-success);

  .alert-icon {
    color: var(--pgn-color-alert-icon-success);
  }
}

.alert-danger {
  color: inherit;
  background-color: var(--pgn-color-alert-bg-danger);
  border-color: var(--pgn-color-alert-border-danger);

  .alert-icon {
    color: var(--pgn-color-alert-icon-danger);
  }
}


a.muted-link {
    color: var(--pgn-color-link-muted-base);

    &:hover {
        color: var(--pgn-color-link-muted-hover);
    }

    p > &[href]:not(.btn),
    &.inline-link {
        color: var(--pgn-color-link-muted-inline-base);
        text-decoration-color: var(--pgn-color-link-muted-inline-decoration);

        &:hover {
        color: var(--pgn-color-link-muted-inline-hover-base);
        text-decoration-color: var(--pgn-color-link-muted-inline-hover-decoration);
        }
    }
}


// Paragon form
.pgn__form-checkbox-input {
    &:checked {
      background-image: escape-svg(var(--pgn-other-content-form-control-checkbox-indicator-icon-checked-base));
    }
}


.pgn__form-radio-input {
    &:checked {
      background-image: escape-svg(var(--pgn-other-content-form-control-radio-indicator-icon-checked-base));
    }
}


.pgn__form-checkbox-input,
.pgn__form-radio-input {
  &:focus {
    border-color: var(--pgn-color-form-input-focus-border);
  }

  &:focus::before {
    border: var(--pgn-size-form-border-radius-width) solid var(--pgn-color-form-input-focus-border);
  }
}


.pgn__form-control-decorator {
  .btn-icon {
    &:focus {
      background-color: transparent !important;
    }
  }
}


// profile MFE
.profile-page {
  .profile-avatar-menu-container {
    .dropdown {
      .btn {
        background: transparent;
        border-color: transparent;
        margin: 0;
      }
    }
  }
}

// discussion
.border-primary-500-2 {
    border: 2px solid var(--pgn-color-primary-500) !important;
}

.btn-icon.btn-icon-primary:hover {
    background-color: var(--pgn-color-light-500) !important;
    color: var(--pgn-color-primary-500);
}

.btn-tertiary{
    color: #a6a6a6;
    &:hover{
      color: var(--pgn-color-primary-light);
    }
}

.nav-button-group {
    .nav-link.active,
    .show>.nav-link {
      background-color: var(--pgn-color-primary-500) !important;
    }
}

.text-TA-color {
  color: var(--pgn-color-success-700);
}

.outline-TA-color {
  outline: var(--pgn-color-success-700) solid 2px;
}


.nav-underline-tabs {
  .nav-link {
    &:hover,
    &:focus,
    &.active {
      color: var(--pgn-color-primary-500);
      border-bottom-color: var(--pgn-color-primary-500);
    }
  }
}

.tox .tox-edit-area__iframe{
  color: red;
  background-color: var(--pgn-color-body-bg);
}

.pgn__card{
    background-color: var(--pgn-color-body-bg);
    border: 1px  solid var(--pgn-color-border);
}

a.brand-link{
    color: var(--pgn-color-brand-base);
}

#root.small{
    
}

@import "./learning";
