@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

&
{
  --pgn-color-primary-base: var(--pgn-color-dark-primary-base);
  --pgn-color-primary-light: var(--pgn-color-dark-primary-light);
  --pgn-color-primary-border: var(--pgn-color-dark-primary-border);
  --pgn-color-brand-base: var(--pgn-color-dark-brand-base);
  --pgn-color-text-base: var(--pgn-color-dark-text-base);
  --pgn-color-text-footer: var(--pgn-color-dark-text-footer);
  --pgn-color-text-primary: var(--pgn-color-dark-text-primary);
  --pgn-color-text-button: var(--pgn-color-dark-text-button);
  --pgn-color-body-bg: var(--pgn-color-dark-body-bg);
  --pgn-color-bg-light-overlay: var(--pgn-color-dark-bg-light-overlay);
  --pgn-color-bg-hover: var(--pgn-color-dark-bg-hover);
  --pgn-color-success-base: var(--pgn-color-dark-success-base);
  --pgn-color-danger-base: var(--pgn-color-dark-danger-base);
}
